<div class="chat-header">
</div>

<div class="messages">
</div>

<div class="form">
 <div class="form-input">
    <input class="form-message" placeholder= "送信する文章を入力してください">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>